<a href="https://colab.research.google.com/github/xcharita/ineuron/blob/main/Python_Programming_Advanced_Assignment25(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write four functions that directly mutate a list:

1.   List item
2.   List item



    1. repeat(lst, n): Repeat lst n times.
    2. add(lst, x): Adds x to the end of the lst.
    3. remove(lst, m, n): Removes all elements between indices m and n inclusive in lst.
    4. concat(lst, x): concatenates lst with x (another list).

In [1]:
def repeat(f_lst,f_n):
    new_lst=[]
    for i in range(f_n):
        new_lst.extend(f_lst)
    return new_lst

def add(f_lst,f_x):
    f_lst.append(f_x)
    return print(f_lst)

In [2]:
def concat(f_lst,f_lst2):
    return f_lst + f_lst2

In [3]:
def remove(f_lst, f_n, f_m):
    try:
        del f_lst[f_n:f_m+1]
        return f_lst
    except Exception as e:
        print(e)

In [4]:
lst = [1,2,3,4]

In [5]:
n = int(input("How many times would you like to repeat the list? "))

How many times would you like to repeat the list? 3

In [6]:
repeat(lst,n)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
x = input("Which character would you like to add to the list? ")

Which character would you like to add to the list? a

In [8]:
add(lst, x)

[1, 2, 3, 4, 'a']

In [9]:
lst_temp = input("Which list would you like to add ? ")
lst2 = lst_temp.split(",")
lst2 = list(int(lst2[i]) for i in range(len(lst2)))

Which list would you like to add ? 7,23,14

In [10]:
lst = concat(lst, lst2)

In [11]:
n = int(input("Pls give the lower index of the list"))
m = int(input("Pls give the upper index of the list"))

Pls give the lower index of the list2
Pls give the upper index of the list4

In [12]:
remove(lst,n, m)

[1, 2, 7, 23, 14]

2. The classic game of Mastermind is played on a tray on which the Mastermind conceals a code and the Guesser has 10 tries to guess it. The code is a sequence of 4 (or 6, sometimes more) pegs of different colors. Each guess is a corresponding sequence of 4 (or more) pegs of different colors. A guess is "correct" when the color of every peg in the guess exactly matches the corresponding peg in the Mastermind's code.

After each guess by the Guesser, the Mastermind will give a score comprising black & white pegs, not arranged in any order:

   - Black peg == guess peg matches the color of a code peg in the same position.
   - White peg == guess peg matches the color of a code peg in another position.

Create a function that takes two strings, code and guess as arguments, and returns the score in a dictionary.

   - The code and guess are strings of numeric digits
   - The color of the pegs are represented by numeric digits
   - no "peg" may be double-scored

In [13]:
import numpy as np

In [14]:
def guess_score(code, guess):
    masterdict = {'black': 0, 'white': 0}
    if code == guess:
        print("All good, you have guessed the values and the positions with it")
    else:
        for i in range(len(guess)):
            if (guess[i] in code) and (code.index(guess[i]) == i):
                print('{position' , i, 'is correct with',guess[i] ,'} :BLACK PEG')
                masterdict['black'] += 1
            elif (guess[i] in code) and (code.index(guess[i]) != i):
                masterdict['white'] += 1
                print('{position' ,guess.index(guess[i]),'is not correct with',guess[i] ,'but it is present in code','} :WHITE PEG')
            else:
                print('{position',guess.index(guess[i]), 'and digit were guessed wrong}')
    return masterdict

In [15]:
digit1 = int(np.random.randint(9,size=1))
digit2 = int(np.random.randint(9,size=1))
digit3 = int(np.random.randint(9,size=1))
digit4 = int(np.random.randint(9,size=1))

code = list(str(digit1)+str(digit2)+str(digit3)+str(digit4))
print(code)

['7', '3', '3', '2']

In [16]:
guess = list(input("Pls guess the 4 digit code: "))

Pls guess the 4 digit code: 3561

In [17]:
guess_score(code, guess)

{position 0 is not correct with 3 but it is present in code } :WHITE PEG
{position 1 and digit were guessed wrong}
{position 2 and digit were guessed wrong}
{position 3 and digit were guessed wrong}

{'black': 0, 'white': 1}

3. Create a function that takes a list lst and a number N and returns a list of two integers from lst whose product equals N.

In [18]:
def two_product(lst, number):
    two_integers = []
    for i in lst:
        int_i = int(i)
        if number%int_i == 0 and (number//int_i > 1):
            two_integers.append(int_i)
            if len(two_integers) == 2 :
                product = two_integers[0]*two_integers[1]
                if product == number:
                    break;
                else:
                    two_integers.pop(0)
    return two_integers

In [19]:
lst = str(input("Please give your list for calculation ")).split(',')

Please give your list for calculation 4,5,1,2

In [20]:
N = int(input("Please give the number N you would like to have as multiplication output: "))

Please give the number N you would like to have as multiplication output: 2

In [21]:
print("The product of", two_product(lst,N), "is", N)

The product of [1] is 2

4. In this challenge, sort a list containing a series of dates given as strings. Each date is given in the format DD-MM-YYYY_HH:MM:

"12-02-2012_13:44"

The priority of criteria used for sorting will be:

  - Year
  - Month
  - Day
  - Hours
  - Minutes

Given a list lst and a string mode, implement a function that returns:

   - if mode is equal to "ASC", the list lst sorted in ascending order.
   - if mode is equal to "DSC", the list lst sorted in descending order.

Examples

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "ASC") ➞ ["10-02-2016_12:30", "10-02-2018_12:15", "10-02-2018_12:30"]

sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC") ➞ ["10-02-2018_12:30", "10-02-2018_12:15", "10-02-2016_12:30"]

sort_dates(["09-02-2000_10:03", "10-02-2000_18:29", "01-01-1999_00:55"], "ASC") ➞ ["01-01-1999_00:55", "09-02-2000_10:03", "10-02-2000_18:29"]

In [22]:
# Import the datetime module
from datetime import datetime

In [23]:
	
# Function to print the data stored in the list
def sort_dates(sdates, reverse ):
  for i in range(len(sdates)):
    sdates[i] = datetime.strptime(sdates[i], '%d-%m-%Y_%H:%M')
  if reverse == "ASC":
    rev = False
  else:
    rev = True
  sorted_dates = sorted(sdates, reverse=rev)
  dates = [sd.strftime('%d-%m-%Y_%H:%M') for sd in sorted_dates]
  return dates

In [24]:
print(sort_dates(["10-02-2018_12:30", "10-02-2016_12:30", "10-02-2018_12:15"], "DSC"))

['10-02-2018_12:30', '10-02-2018_12:15', '10-02-2016_12:30']

5. Write a function that selects all words that have all the same vowels (in any order and/or number) as the first word, including the first word.

Examples

same_vowel_group(["toe", "ocelot", "maniac"]) ➞ ["toe", "ocelot"]

same_vowel_group(["many", "carriage", "emit", "apricot", "animal"]) ➞ ["many"]

same_vowel_group(["hoops", "chuff", "bot", "bottom"]) ➞ ["hoops", "bot", "bottom"]

In [25]:
def same_vowel_group(vlist):
  vowel = ['a','i','o','u','e']
  vow = []
  new_list = []
  for v in vlist[0]:
    if v in vowel and v not in vow:
      vow.append(v)
  if vow == []:
    return print("There is no vowel in the first word")
  else:
    new_list.append(vlist[0])
    for i in range(1,len(vlist)):
      found = False
      llist = [ c for c in str(vlist[i]) if c in vowel]
      compare = list(set(llist))
      if compare == vow:
          new_list.append(vlist[i])
  return print(new_list)

In [26]:
same_vowel_group(["toe", "ocelot", "maniac"])

['toe', 'ocelot']

In [27]:
same_vowel_group(["hoops", "chuff", "bot", "bottom"])

['hoops', 'bot', 'bottom']

In [28]:
same_vowel_group(["many", "carriage", "emit", "apricot", "animal"])

['many']

6. Create a function that takes a list of more than three numbers and returns the Least Common Multiple (LCM).

Examples

lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) ➞ 2520

lcm_of_list([13, 6, 17, 18, 19, 20, 37]) ➞ 27965340

lcm_of_list([44, 64, 12, 17, 65]) ➞ 2333760

In [29]:
from functools import reduce
from math import gcd

def lcm_of_list(numbers):
  return reduce((lambda x, y: int(x * y / gcd(x, y))), numbers)

In [30]:
lcm_of_list([44, 64, 12, 17, 65])

2333760

In [31]:
lcm_of_list([13, 6, 17, 18, 19, 20, 37])

27965340

In [32]:
lcm_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

2520