<a href="https://colab.research.google.com/github/xcharita/ineuron/blob/main/Python_Programming_Basic_Assignment10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a Python program to find sum of elements in list?**

In [4]:
def sum_of_elements(elements):
  total_sum = 0
  for i in range(len(elements)):
    total_sum += int(elements[i])
  return total_sum

In [3]:
list_of_numbers = [s.strip() for s in input("Pls give your numbers for the list, separated by a comma : ").split(",")]

Pls give your numbers for the list, separated by a comma : 3,8,23,89,0,1,456,2,782,45,1

In [5]:
print("The sum of the numbers is: ",sum_of_elements(list_of_numbers))

The sum of the numbers is:  1410

**Write a Python program to  Multiply all numbers in the list?**

In [6]:
def multiply_of_elements(elements):
  total_mul = 1
  for i in range(len(elements)):
    total_mul = total_mul * int(elements[i])
  return total_mul

In [7]:
print("The multipication of the numbers is : ", multiply_of_elements(list_of_numbers))

The multipication of the numbers is :  0

**Write a Python program to find smallest number in a list?**

In [8]:
def smallest(lst):
  small = int(lst[0])
  for i in range(1,len(lst)):
    if int(lst[i]) < small:
      small = int(lst[i])
  return small

In [9]:
print("The smallest number in the list is: ",smallest(list_of_numbers))

The smallest number in the list is:  0


**Write a Python program to find largest number in a list?**

In [32]:
def largest(lst):
  large = int(lst[0])
  lrgst = []
  for i in range(1,len(lst)):
    if int(lst[i]) > large:
      large = int(lst[i])
      lrgst.append(large)
  return lrgst

In [33]:
print("The largest number in the list is: ",largest(list_of_numbers)[-1])

The largest number in the list is:  782

**Write a Python program to find second largest number in a list?**

In [34]:
print("The second largest in the list is : ", largest(list_of_numbers)[-2])

The second largest in the list is :  456

**Write a Python program to find N largest elements from a list?**

In [19]:
n = int(input("Give the number of largest elements you would like to see of the list"))

Give the number of largest elements you would like to see of the list5

In [36]:
print("The {0} largest elements of the list: ".format(n), largest(list_of_numbers)[-n:])

The 5 largest elements of the list:  [8, 23, 89, 456, 782]

**Write a Python program to print even numbers in a list?**

In [52]:
def even(lst):
  even_lst = []
  for i in range(len(lst)):
    if (int(lst[i])%2 == 0) and (int(lst[i]) != 0):
      even_lst.append(int(lst[i]))
  return even_lst

In [53]:
print(even(list_of_numbers))

[8, 456, 2, 782]



**Write a Python program to print odd numbers in a List?**

In [54]:
def odd(lst):
  odd_lst = []
  for i in range(len(lst)):
    if (int(lst[i])%2 != 0) and (int(lst[i]) != 0):
      odd_lst.append(int(lst[i]))
  return odd_lst

In [55]:
print(odd(list_of_numbers))

[3, 23, 89, 1, 45, 1]

**Write a Python program to Cloning or Copying a list?**

In [56]:
copy_list_of_numbers = list_of_numbers

In [57]:
print(copy_list_of_numbers, list_of_numbers)

['3', '8', '23', '89', '0', '1', '456', '2', '782', '45', '1'] ['3', '8', '23', '89', '0', '1', '456', '2', '782', '45', '1']

**Write a Python program to Count occurrences of an element in a list?**

In [77]:
def occurences(lst):
  kv_lst = {}
  for i in range(len(lst)):
    if lst[i] in kv_lst.keys():
      kv_lst[lst[i]] =  kv_lst[lst[i]] + 1
    else:
      kv_lst[lst[i]] =  1
  return kv_lst

In [70]:
print(list_of_numbers)

['3', '8', '23', '89', '0', '1', '456', '2', '782', '45', '1']

In [78]:
print(occurences(list_of_numbers))

{'3': 1, '8': 1, '23': 1, '89': 1, '0': 1, '1': 2, '456': 1, '2': 1, '782': 1, '45': 1}